<div class="navbar-area" >
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg" [class.active]="classApplied">
            <!-- <a class="navbar-brand" routerLink="/">
                <img src="assets/images/logo.png" alt="logo">
            </a> -->
            <button class="navbar-toggler" type="button" (click)="toggleClass()">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse">
                <form class="search-box">
                    <input class="form-control shadow-none" type="text" placeholder="Search here...">
                    <button type="submit">
                        <i class="flaticon-search"></i>
                    </button>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            Home
                        </a>
                      
                    </li>
                    <li class="nav-item">
                        <a href="/courses" class="nav-link">
                            Courses
                        </a>
                 
                    </li>
                    <!-- <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            Events
                        </a>
                    
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            Pages
                        </a>
                   
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            Blog
                        </a>
                     
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link" routerLinkActive="active" >
                            Contact Us
                        </a>
                    </li> -->
                </ul>
               
                <div class="others-option d-flex align-items-center">
                    <!-- <div class="option-item">
                        <a routerLink="/dashboard/cart" class="cart-btn">
                            <i class="flaticon-shopping-bag"></i>
                            <span>01</span>
                        </a>
                    </div> -->
                    <div class="option-item">
                        <a routerLink="/login" class="default-btn two">Login</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>