<!-- Dashboard -->
<div class="dashboard-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="dashboard-sidebar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/dashboard">
                <i class="bx bx-home"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/dashboard/enrolled-courses">
                <i class="bx bx-book-bookmark"></i>
                Enrolled Courses
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/dashboard/my-profile">
                <i class="bx bx-user"></i>
                My Profile
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/dashboard/reviews">
                <i class="bx bx-star"></i>
                Reviews
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/">
                <i class='ri-logout-circle-line'></i>
                Logout
              </a>
            </li>
          </ul>
        </div>

      </div>

    <div class="col-lg-9 col-md-12">
       <ng-container *ngIf="(router.url === '/dashboard'); else elseBlock">

    <div class="container-fluid">

        <!-- Total -->
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-4 col-6">
                <div class="db-single-courses">
                    <i class="ri-book-open-line"></i>
                    <h2>09</h2>
                    <span>Total Enrolled Courses</span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-6">
                <div class="db-single-courses">
                    <i class="ri-movie-line"></i>
                    <h2>02</h2>
                    <span>Active Courses</span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-6">
                <div class="db-single-courses">
                    <i class="ri-check-line"></i>
                    <h2>07</h2>
                    <span>Completed Courses</span>
                </div>
            </div>
        </div>

    </div>
    </ng-container>
            <ng-template #elseBlock>
          <router-outlet></router-outlet>
        </ng-template>

</div>
    </div>
  </div>
</div>