<div class="container">
  <h4 class="rbt-title-style-3">Course Content</h4>

  <div class="card">
    <h2 class="card-header">

      Intro to Course and Histudy <span class="rbt-badge-5 ml--10">1hr 30min</span>
    </h2>

    <ul class="rbt-course-main-content liststyle">
      <li>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                routerLink="/lesson">
          <div class="course-content-left">
            <i class="feather-play-circle"></i> <span class="text">Course Intro</span>
          </div>
          <div class="course-content-right">
            <span class="min-lable">30 min</span>
            <span class="rbt-badge variation-03 bg-primary-opacity"><i class="feather-eye"></i> Preview</span>
          </div>
        </a>
      </li>

      <li>
        <a href="/">
          <div class="course-content-left">
            <i class="feather-play-circle"></i> <span class="text">Watch Before Start</span>
          </div>
          <div class="course-content-right">
            <span class="min-lable">0.5 min</span>
            <span class="rbt-badge variation-03 bg-primary-opacity"><i class="feather-eye"></i> Preview</span>
          </div>
        </a>
      </li>

      <li>
        <a href="/">
          <div class="course-content-left">
            <i class="feather-file-text"></i> <span class="text">Read Before You Start</span>
          </div>
          <div class="course-content-right">
            <span class="course-lock"><i class="feather-lock"></i></span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>