<div class="rbt-lesson-rightsidebar overflow-hidden lesson-video">
  <!-- <div class="lesson-top-bar">
    <div class="lesson-top-left">
      <div class="rbt-lesson-toggle">
        <button class="lesson-toggle-active btn-round-white-opacity" title="Toggle Sidebar"><i
            class="feather-arrow-left"></i></button>
      </div>
    </div>
    <div class="lesson-top-right">
      <div class="rbt-btn-close">
        <a href="course-details.html" title="Go Back to Course" class="rbt-round-btn"><i class="feather-x"></i></a>
      </div>
    </div>
  </div> -->
  <div class="inner">
    <div class="rbtplayer">
      <iframe src="assets/videos/sample.mp4" allowfullscreen allow="autoplay"></iframe>
    </div>
    <div class="content">
      <div class="section-title">
        <h4>About Lesson</h4>
        <p>Let us analyze the greatest hits of the past and learn what makes these tracks so
          special. </p>
      </div>
    </div>
  </div>


</div>