<div class="container-fluid">

    <!-- My Courses -->
    <div class="my-courses-tabs">
        <ul class="nav nav-tabs d-block border-0">
            <li class="nav-item" [ngClass]="{'active': currentTab === 'tab1'}">
                <button type="button" class="nav-link position-relative shadow-none border-0 mb-0 p-0 rounded-0"
                    (click)="switchTab($event, 'tab1')">
                    All Courses
                </button>
            </li>
            <li class="nav-item" [ngClass]="{'active': currentTab === 'tab2'}">
                <button type="button" class="nav-link position-relative shadow-none border-0 mb-0 p-0 rounded-0"
                    (click)="switchTab($event, 'tab2')">
                    Active Courses
                </button>
            </li>
            <li class="nav-item" [ngClass]="{'active': currentTab === 'tab3'}">
                <button type="button" class="nav-link position-relative shadow-none border-0 mb-0 p-0 rounded-0"
                    (click)="switchTab($event, 'tab3')">
                    Completed Courses
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" id="tab1" *ngIf="currentTab === 'tab1'">
                <div class="row">
                    <div class="course-grid">

                        <app-course-card *ngFor="let course of enrolledCourses" [id]="course.id" [courseName]="course.courseName"
                            [price]="course.price"></app-course-card>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" *ngIf="currentTab === 'tab2'">
                <div class="row">
                    <div class="course-grid">
                    
                        <app-course-card *ngFor="let course of activeCourses" [id]="course.id" [courseName]="course.courseName"
                            [price]="course.price"></app-course-card>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab3" *ngIf="currentTab === 'tab3'">
                <div class="row">
                    <div class="course-grid">
                    
                        <app-course-card *ngFor="let course of completedCourses" [id]="course.id" [courseName]="course.courseName"
                            [price]="course.price"></app-course-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>