
<!-- Courses Section for Home Demo - 2 -->
<div
    class="courses-area pt-100 pb-75"
    [ngClass]="{}"
>
    <div class="container">
        <div class="section-title d-sm-flex justify-content-between">
            <h2 class="mb-0">Our Popular Online Courses</h2>
            <a routerLink="/courses-grid" class="default-btn two">View All Courses</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="course-item position-relative">
                    <a routerLink="/course-details" class="d-block image">
                        <img src="assets/images/courses/course15.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user3.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Sydney Phelps
                            </a>
                            <span>Intermediate</span>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                HTML, JavaScript, & Bootstrap Certification Course
                            </a>
                        </h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            5.0 (239 Reviews)
                        </div>
                        <div class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <div class="price">
                                $78 <span>$99</span>
                            </div>
                            <span class="sub-title">4 Months At 5-10 Hrs/ Week</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="course-item position-relative">
                    <a routerLink="/course-details" class="d-block image">
                        <img src="assets/images/courses/course14.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user2.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                Alina Smith
                            </a>
                            <span>Intermediate</span>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                Kids Coding - Introduction to HTML, CSS & JavaScript
                            </a>
                        </h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            5.0 (239 Reviews)
                        </div>
                        <div class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <div class="price">
                                $99 <span>$119</span>
                            </div>
                            <span class="sub-title">5 Months At 1-2 Hrs/ Week</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="course-item position-relative">
                    <a routerLink="/course-details" class="d-block image">
                        <img src="assets/images/courses/course13.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user1.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                David Warner
                            </a>
                            <span>Advanced</span>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                The Complete Camtasia Course For Content
                            </a>
                        </h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            4.5 (100 Reviews)
                        </div>
                        <div class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <div class="price">
                                $54 <span>$76</span>
                            </div>
                            <span class="sub-title">5 Months At 2-4 Hrs/ Week</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6 col-md-6">
                <div class="course-item position-relative">
                    <a routerLink="/course-details" class="d-block image">
                        <img src="assets/images/courses/course12.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <div class="meta justify-content-between align-items-center d-flex">
                            <a routerLink="/instructor-profile" class="user d-flex align-items-center">
                                <img src="assets/images/users/user4.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                James Andy
                            </a>
                            <span>Beginner</span>
                        </div>
                        <h3>
                            <a routerLink="/course-details">
                                Bulding A Better World One Snudent AT A Time
                            </a>
                        </h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            4.0 (201 Reviews)
                        </div>
                        <div class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                            <div class="price">
                                $99
                            </div>
                            <span class="sub-title">3 Months At 1-1 Hrs/ Week</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>