.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}


.register-free {
    max-width: 600px;
    text-align: center;
    margin: 20px auto 0;

    p {
        a {
            color: var(--primaryColor);
        }
    }
}

.showing-result {
    margin-bottom: 30px;

    p {
        font-size: 15px;

        strong {
            font-weight: 500;
            color: var(--blackColor);
        }
    }

    .showing-top-bar-ordering {
        text-align: end;

        label {
            display: inline-block;
            font-size: 15px;

            margin: {
                bottom: 0;
                right: 5px;
            }

            ;
        }

        select {
            width: 215px;
            cursor: pointer;
            display: inline-block;
            border-color: #eeeeee;
            transition: var(--transition);
            background-color: #f8f8f8;
            color: var(--blackColor);
            padding: 0 0 0 15px;
            box-shadow: unset;
            line-height: 45px;
            height: 45px;

            font: {
                size: 15px;
                weight: normal;
            }

            ;

            &:hover {
                border-color: var(--primaryColor);
                background-color: transparent;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .register-free {
        margin-top: 0;
    }

    .showing-result {
        text-align: center;

        p {
            font-size: 14px;
        }

        .showing-top-bar-ordering {
            text-align: center;
            margin-top: 12px;

            label {
                font-size: 14px;
            }

            select {
                font-size: 14px;
            }
        }
    }
     .course-grid {
    grid-template-columns: 1fr;
  }

}