/* styles.css */
.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
}

.quiz-header {
    background-color: #007bff;
    color: #ffffff;
}

.quiz-title {
    margin: 0;
    color: #ffffff;
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: #ffc107;
}

.question-box {
    margin-bottom: 30px;
}

.question {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.answer-option {
    display: block;
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.answer-option:hover, .answer-option:focus {
    background-color: #e9ecef;
    transform: scale(1.05);
}

.label-text {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #000;
    font-weight: 500;
}

.answer-option input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.answer-option input[type="radio"]:checked ~ .label-text {
    color: #007bff;
    font-weight: bold;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.quiz-time-info .badge {
    font-size: 1rem;
    padding: 10px;
    border-radius: 20px;
}
