<div *ngIf="quizSubmitted; else quizContent">
    <div class="alert alert-success" role="alert">
        Quiz submitted successfully!
    </div>
</div>

<ng-template #quizContent>
    <div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="quiz-container shadow bg-body rounded" *ngIf="questions.length > 0">
                <div class="quiz-header text-center p-4">
                    <h2 class="quiz-title">Science Quiz</h2>
                    <p class="lead">Challenge your knowledge!</p>
                    <!-- Timer/Time limit section -->
                    <div class="quiz-time-info text-center mb-3">
                        <span *ngIf="timeLimit; else noTimeLimit" class="badge bg-warning text-dark">Time Remaining: <span id="quizTimer">{{ formatTime(timeLeft) }}</span></span>
                        <ng-template #noTimeLimit>
                            <span class="badge bg-success">No Time Limit</span>
                        </ng-template>
                    </div>


                    <div class="progress my-3">
                        <div class="progress-bar" role="progressbar" [attr.style]="getWidthStyle()" [attr.aria-valuenow]="(currentQuestionIndex + 1) / questions.length * 100" aria-valuemin="0" aria-valuemax="100">{{currentQuestionIndex + 1}} of {{questions.length}}</div>
                    </div>
                </div>
                <div class="quiz-body p-4">
                    <div class="question-box mb-5">
                        <h4 class="question">{{questions[currentQuestionIndex].question}}</h4>
                        <div class="answers mt-4">
                            <label class="answer-option" *ngFor="let option of questions[currentQuestionIndex].options; let i = index">
                                <input type="radio" name="questionOptions" hidden (change)="onSelectOption(option)" [checked]="userResponses[currentQuestionIndex].selectedOption === option">
                                <span class="label-text">{{option}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="quiz-footer text-center p-4">
                    <button type="button" class="btn btn-outline-primary" (click)="onPreviousQuestion()" *ngIf="!isFirstQuestion()">Previous</button>
                    <button type="button" class="btn btn-primary" (click)="onNextQuestion()" *ngIf="!isLastQuestion()" [disabled]="!selectedOption">Next</button>
                    <button type="button" class="btn btn-success" (click)="onClick($event)" *ngIf="isLastQuestion()" [disabled]="!selectedOption">Submit</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</ng-template>